*, *::before, *::after {
    box-sizing: border-box;
}
.section-title {
    position: relative;
    font-size: 30px;
    margin: 0 0 60px 0;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}
.section-title:after {
    position: absolute;
    content: '';
    bottom: -12px;
    left: 50%;
    width: 50px;
    height:10px;
    transform: translateX(-50%);
    
}
body {
    margin: 0;
    text-align: center;
    background: #c8d6e5;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Montserrat', sans-serif;
    
}
section {
    padding: 108px 0;
}

p {
    width: 70%;
    margin: 0 auto;
    padding: 48px 0;
    font-size: 24px;
    text-align:center;
