*, *::before, *::after {
    box-sizing: border-box;
}
.section-title {
    
    font-size: 30px;
    margin: 0 0 60px 0;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

body {
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    
}
.wiersz {
    position:relative;
    max-height:100%
    margin-top:96px;
}

.container {
    position:absolute;
     width: 100%;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
}
